[submodule "colorutilsc"]
	path = colorutilsc
	url = git@github.com:DerTyp7214/ColorUtilsC.git
[submodule "rboardcomponents"]
	path = rboardcomponents
	url = git@github.com:DerTyp7214/rBoardComponents.git
