<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="de.dertyp7214.rboardthememanager"/>
        <package android:name="de.dertyp7214.rboardthememanager.debug"/>
    </queries>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RboardPatcher"
        tools:targetApi="31">
        <activity
            android:name=".screens.PatchActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screens.LoadThemeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pack" />
                <data android:pathPattern=".*\\..*\\.pack" />
                <data android:pathPattern=".*\\..*\\..*\\.pack" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.pack" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pack" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pack" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.pack" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.zip" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>